.header {
  background: linear-gradient(90deg, #FF8C00, #FF6A00);
  color: white;
  text-align: center;
  padding: 1px;
}

.config-card {
  margin: 30px auto;
  max-width: 600px;
  border-radius: 16px;
  background-color: #F7F9FB;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  color:  #333;
  border-left: 6px solid #FF6A00;
}

mat-card-header {
  background-color: #FF6A00;
  color: white;
  padding: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

mat-card-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.config-form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between; /* Espaciado entre los botones */
  gap: 10px;  /* Espacio adicional entre los botones */
}

button[type="submit"] {
  background-color: #FF6A00;
  color: white;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #e65c00;
}
/* Estilo para el botón de retroceso */
button[mat-button] {
  background-color: #FF6A00;
  color: white;
  margin-top: 10px;
  border-radius: 4px;
  padding: 8px 16px;
}
