<div class="header">
  <h1>Configuración de Tasas (Config)</h1>
</div>
<mat-card class="config-card">
  <mat-card-header>
    <mat-card-title>Configuración del Sistema</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="configForm" (ngSubmit)="saveConfig()" class="config-form">

      <!-- Moneda -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Moneda</mat-label>
        <mat-select formControlName="currency">
          <mat-option *ngFor="let cap of currencies" [value]="cap.value">
            {{ cap.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Tipo de Tasa de Interés (Efectiva o Nominal) -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tipo de Tasa de Interés</mat-label>
        <mat-select formControlName="interestType">
          <mat-option value="Efectiva">Efectiva</mat-option>
          <mat-option value="Nominal">Nominal</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Capitalización: Solo relevante si la tasa es nominal -->
      <mat-form-field appearance="outline" class="full-width" *ngIf="configForm.value.interestType === 'Nominal'">
        <mat-label>Frecuencia de Capitalización</mat-label>
        <mat-select formControlName="capitalization">
          <mat-option *ngFor="let cap of capitalizations" [value]="cap">{{ cap }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Plazos de gracia -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Plazo de Gracia</mat-label>
        <mat-select formControlName="gracePeriod">
          <mat-option value="Total">Total</mat-option>
          <mat-option value="Parcial">Parcial</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="!configForm.valid">
          Guardar Configuración
        </button>
      </div>

      <div class="actions">
        <button mat-button (click)="navigateToHome()">Volver a Home</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
