<div class="inicio-container">
  <div class="header">
    <h1>Bienvenido {{ username }}</h1>
  </div>

  <div class="content">
    <div class="left">
      <!-- Contenedor para el texto -->
      <div class="text-container">
        <p>
          Aplicación web diseñada para la proyección del flujo de caja de bonos corporativos utilizando el método americano.
          Facilita el análisis financiero y económico mediante el cálculo de indicadores clave como la Convexidad, Duración, TCEA y TREA,
          proporcionando a emisores e inversionistas herramientas para la toma de decisiones informadas en el mercado de bonos.
        </p>
      </div>

      <!-- Aquí colocamos el Dashboard debajo del texto -->
      <app-dashboard></app-dashboard>
    </div>

    <div class="right">
      <!-- Iconos de navegación -->
      <div class="icon-box" (click)="navigateToConfig()">
        <div class="icon">
          <img ngSrc="../../../../assets/tasa-de-interes.png" alt="Configuración" height="512" width="512">
        </div>
        <p>Configuración de Tasas (Config)</p>
      </div>

      <div class="icon-box" (click)="navigateToBonds()">
        <div class="icon">
          <img ngSrc="../../../../assets/impresion.png" alt="Valoraciones" height="512" width="512">
        </div>
        <p>Registrar Valoración de Bonos (Bonds)</p>
      </div>

      <div class="icon-box" (click)="navigateToResults()">
        <div class="icon">
          <img ngSrc="../../../../assets/reporte-de-negocios.png" alt="Reportes" height="512" width="512">
        </div>
        <p>Consolidación de Reporte (Results)</p>
      </div>

      <!-- Botón de Salir -->
      <button mat-raised-button color="warn" (click)="logOut()">Salir</button>
    </div>
  </div>

  <div class="footer">
    <p>&copy; 2025 1A510642-2510-3425 . Todos los derechos reservados.</p>
  </div>
</div>
