<div class="inicio-container">
  <div class="header">
    <h1>Bienvenido {{ username }}</h1>
  </div>

  <div class="content">
    <div class="left">
      <p>
        Aplicación web diseñada para la proyección del flujo de caja de bonos corporativos utilizando el método americano.
        Facilita el análisis financiero y económico mediante el cálculo de indicadores clave como la Convexidad, Duración, TCEA y TREA,
        proporcionando a emisores e inversionistas herramientas para la toma de decisiones informadas en el mercado de bonos.
      </p>
    </div>
    <div class="right">
      <div class="icon-box">
        <div class="icon">
          <img src="../../../../assets/tasa-de-interes.png" alt="Configuración" height="512" width="512">
        </div>
        <p>Configuración de Tasas</p>
      </div>
      <div class="icon-box">
        <div class="icon">
          <img src="../../../../assets/reporte-de-negocios.png" alt="Reportes" height="512" width="512">
        </div>
        <p>Consolidación de Reporte</p>
      </div>
      <div class="icon-box">
        <div class="icon">
          <img src="../../../../assets/impresion.png" alt="Impresión" height="512" width="512">
        </div>
        <p>Impresión de Reporte</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <p>&copy; 2025 1A510642-2510-3425 . Todos los derechos reservados.</p>
  </div>
</div>
